{% extends 'base.html' %}

{% block title %}<title>ZLATNIC - Accountancy</title>{% endblock %}

{% block content %}
  <div class="yellow_plate yellow_plate_init">
    <div>
      <form method="POST" class="registration fit_content">
        {% csrf_token %}
        
        <h1 style="padding-left: 34px;" class="regular_text_shadow">
          {{ user.first_name }} {{ user.last_name }}
        </h1>
  
        {% if messages %}
          <div class="error_message">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            {% if form.error_messages %}
              <br><br>
              {% for error_message in form.error_messages.values %}
                - {{ error_message }}
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
        
        <div class="big_plate">
          <input type="text"
                 placeholder="First name"
                 name="first_name"
                 value="{{ user.first_name }}"
                 maxlength="150"
                 autofocus
                 id="id_first_name"
                 class="input_data">
        </div>
        <div class="big_plate">
          <input type="text"
                 placeholder="Last name"
                 name="last_name"
                 value="{{ user.last_name }}"
                 maxlength="150"
                 id="id_last_name"
                 class="input_data">
        </div>
        <div class="big_plate">
          <input type="text"
                 placeholder="Username*"
                 value="{{ user.username }}"
                 name="username"
                 maxlength="150"
                 required
                 id="id_username"
                 class="input_data">
        </div>
        <div class="yellow_plate yellow_plate_init text_shadow">
          <b>Pay attention!</b> <br>
          * - Required fields <br><br>
          150 characters or fewer. Letters, digits and / @ / . / + / - / _ / only.
        </div>
        <div class="big_plate">
          <input type="email"
                 placeholder="Email*"
                 name="email"
                 value="{{ user.email }}"
                 required
                 id="id_email"
                 class="input_data">
        </div>
        <div class="big_plate">
          <input type="tel"
                 placeholder="Phone number"
                 name="phone_number"
                 value="{{ user.phone_number }}"
                 maxlength="128"
                 id="id_phone_number"
                 class="input_data">
        </div>
  
        <div class="big_plate">
          <a href="{% url 'logout' %}">Logout</a>
        </div>
  
        <input type="submit" value="Save" class="button orange_background text_shadow">
        <a href="{% url 'manager:index' %}" class="button orange_background text_shadow">Cancel</a>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

    </div>
  </div>
{% endblock content %}
