<header class="header _oi_shadow">
  <div class="header_div">
    <a href="{% url 'manager:index' %}" title="Main" class="no-decoration">
      <table>
        <tr>
          <td>
            <img class="logo" src="/static/source/welcome_logo.png" alt="zlatnic">
          </td>
          <td class="hidden regular_text_shadow">
            <h1>ZLATNIC</h1>
          </td>
        </tr>
      </table>
    </a>
  </div>
  <div class="header_div _marmalade_small">
    <span class="date text_shadow">
      {% now "jS M Y" %}
    </span>
  </div>
  <div class="header_div">
    <table style="direction: rtl;">
      <tr>
        <td rowspan="2" class="drop_menu">
          <a href="{% url 'users:account' %}">
            <img 
              class="profile_picture" 
              src="/static/source/Profile_picture.jpg"
              alt="profile_picture">
          </a>
        </td>
        <td class="hidden">
          <h2 class="_marmelad_regular regular_text_shadow">
            {{ user.username }}
          </h2>
          <a href="{% url 'logout' %}"
              class="_comforta_bold"
              style="float: right;">
            Logout
          </a>
        </td>
      </tr>
    </table>
  </div>
</header>
