<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>ZLATNIC</title>{% endblock %}
  <link rel="icon" type="image/x-icon" href="/static/source/Favicon.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Marmelad:regular&display=swap&subset=cyrillic-ext"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700&display=swap&subset=cyrillic-ext"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,100italic,200,300&display=swap&subset=cyrillic-ext"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Philosopher:regular,italic,700,700italic&display=swap&subset=cyrillic-ext"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div class="wrapper">
    {% block header %}
      {% include "includes/header.html" %}
    {% endblock header %}

    {% block content %}{% endblock content %}
  </div>
  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock footer %}

  {% block menu %}
    {% include "includes/menu.html" %}
  {% endblock menu %}
</body>

</html>